body {
    background-color: #f8f9fa;
}

.login-container {
    min-height: 100vh;
}

.login-image {
    background: linear-gradient(rgba(40, 167, 69, 0.8), rgba(40, 167, 69, 0.8)),
        url('https://thumbs.dreamstime.com/b/mujer-tomando-notas-planificando-su-trabajo-subrayando-puntos-importantes-gesti%C3%B3n-de-lista-comprobaci%C3%B3n-agenda-ilustraciones-211560538.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card-login {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
